@media screen and (max-width: 500px) {
    .topbar .flex:nth-of-type(1) p:not(#app_name) {
        display: none;
    }

    .window {
        width: 80vw;
        height: 70vh;
    }

    .window_content {
        max-height: calc(70vh - 72px);
    }

    .captcha_window {
        left: 50px !important;
    }

    a {
        margin-left: 85%;
    }

    #psyop,
    #dollars {
        width: 100%;
    }
}
